.header__square-pic {
  position: absolute;
  z-index: 0;
  height: 568px;
  width: 568px;
  right: 0;
  top: 64px;
  display: block;
  background: #2f80ed;
  animation: rotation 20s linear normal infinite;
}
